@mixin style-general {
        margin: 0;
        padding: 0;
        h1, h2{
          font-family: $font-family-logo-title;
        }
        p, h3 {
          font-family: $font-family-text;
        }
        h2{
          font-size: 2em;
        }
        h3, .outline{
          font-weight: lighter;
        }
}

@mixin bouton-menu{
        box-shadow: white 4px 2px 10px, white 2px 4px 15px;
        background: linear-gradient(160deg, $secondary-color 0%, $primary-color 100%) ;
        border-radius: 20px;
        width: 14rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        a{
          text-decoration: none;
          color: white;
          font-size: 1.1rem;
        }
      }
