@import "general";
@import "responsive";
@import "variables";



body{
  @include style-general;
}

header{
    @include responsive (small){
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background-color: white;
      
      h1{
        font-family: $font-family-logo-title;
        font-size: 2rem;
      }
    }
}
.localisation{
  @include responsive(small){
    background-color: whitesmoke;
    font-family: $font-family-text;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

  }
}
.section-presentation{
  @include responsive (small){
    background-color:#DCDCDC;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    font-family: $font-family-text;
    h2{
      font-size: 1.4rem;
    }
    p{
      font-size: 1rem;
      font-weight: 300;
      text-align: center;
      margin-top: 5px;
      
    }
    .bouton{
      box-shadow: white 4px 2px 10px, white 2px 4px 15px;
      background: linear-gradient(160deg, $secondary-color 0%, $primary-color 100%) ;
      border-radius: 20px;
      width: 14rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
      a{
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
      }
    }
  
  }
}
.section-fonctionnement{
  @include responsive(small){
    height: 500px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $font-family-text;
  ol{
    list-style: none;
    counter-reset: li;
  }
  li::before{
    content: counter(li);
    color: floralwhite;
    font-size: 1.2em;
    display: inline-block;
    width: 1.5em;
    height: 1.4em;
    margin-left: -2.4em;
    margin-top: -0.2em;
    border: blueviolet 1px solid;
    text-align: center;
    border-radius: 50% 50%;
    background-color: blueviolet;
   }
  li{
    counter-increment: li;
  }
  ol li{
    border-radius: 20px;
    box-shadow: #DCDCDC 4px 2px 4px, #DCDCDC 2px 4px 6px;
    margin: 60px 0px;
    height: 40px;
    padding-top: 20px;
    padding-left: 30px;
    background-color:#DCDCDC;
    display: flex;
    
    
    
    }
  ol .puce-color{
    background-color:rgba(247, 214, 247, 0.22); ;
  }
  li p{
    margin-left: 60px;
    margin-top: 0px;
    font-size: 1.2rem;
    
  }
  li .icon-fct{
    margin-left: 1.5em;
    margin-top: -0.2em;
  }
  
  }
}
  
.section-restaurant{
  @include responsive (small){
    background-color: #DCDCDC;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: $font-family-text;
    .restau{
      margin-bottom: 30px;
      height: 270px;
      display: flex;
      flex-direction: column;
      
    }
    .photo{
      height: 200px;
      border-radius: 20px 20px 0px 0px;
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
       }
    .photo-la-palette{
      background-image: url(../img/palette.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    }
    .photo-la-note{
      background-image: url(../img/enchante.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
    .photo-a-la-france{
      background-image: url(../img/bastille.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
    .photo-le-delice{
      background-image: url(../img/gourmand.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
    .new{
      background-color: $third-color;
      color: rgb(6, 102, 43);
      width: 80px;
      height: 25px;
      text-align: center;
      font-size: 1.2rem;
      border-radius: 10px 10px;
      
      
    }
    .name{
      height: 70px;
      background-color: ivory;
      border-radius: 0px 0px 20px 20px;
      display: flex;
      justify-content: space-around;
    }
   
  }
  
}
footer{
  @include responsive(small){
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    background-color: black;
    color: blanchedalmond;
    h3{
      font-family: $font-family-logo-title;
    }
    a{
      text-decoration: none;
      color: blanchedalmond;
      font-family: $font-family-text;
      margin-bottom: 8px;
    }
  }
}

  