@import "general";
@import "responsive";
@import "variables";



body{
  @include style-general;
}


header{
    @include responsive (small){
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      background-color: white;
      
      h1{
        font-size: 2.5rem;
      }
    }
}
.localisation{
  @include responsive(small){
    background-color: whitesmoke;
    font-family: $font-family-text;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

  }
}
.section-presentation{
  @include responsive (small){
    background-color:#DCDCDC;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    font-family: $font-family-text;
    h2{
      font-size: 1.4rem;
      text-align: center;
    }
    p{
      font-size: 1rem;
      font-weight: 300;
      text-align: center;
      margin-top: 5px;
      
    }
    .bouton{
     @include bouton-menu
    }
  
  }
}
.section-fonctionnement{
  @include responsive(small){
    height: 500px;
  padding-left: 10px;
  padding-right: 40px;
  font-family: $font-family-text;
  ol{
    list-style: none;
    counter-reset: li;
  }
  li::before{
    content: counter(li);
    color: floralwhite;
    font-size: 1.2em;
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    margin-left: -2.4em;
    margin-top: -0.2em;
    border: blueviolet 1px solid;
    text-align: center;
    border-radius: 50% 50%;
    background-color: blueviolet;
   }
  li{
    counter-increment: li;
  }
  ol li{
    border-radius: 20px;
    box-shadow: #DCDCDC 4px 2px 4px, #DCDCDC 2px 4px 6px;
    margin: 60px 0px;
    height: 40px;
    padding-top: 20px;
    padding-left: 30px;
    background-color:#DCDCDC;
    display: flex;
    
    
    
    }
  ol .puce-color{
    background-color:rgba(247, 214, 247, 0.22); ;
  }
  li p{
    margin-left: 20px;
    margin-top: 0px;
    font-size: 1rem;
    
    
  }
  li .icon-fct{
    margin-left: 1em;
    margin-top: -0.2em;
  }
  
  }
}
  
.section-restaurant{
  @include responsive (small){
    background-color: #DCDCDC;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: $font-family-text;
    a{
      text-decoration: none;
      color: black;
    }
    .restau{
      margin-bottom: 30px;
      height: 270px;
      display: flex;
      flex-direction: column;
      
    }
    .photo{
      height: 200px;
      border-radius: 20px 20px 0px 0px;
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
       }
    .photo-la-palette{
      background-image: url(../img/palette.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    }
    .photo-la-note{
      background-image: url(../img/enchante.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
    .photo-a-la-france{
      background-image: url(../img/bastille.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
    .photo-le-delice{
      background-image: url(../img/gourmand.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
    }
    .new{
      background-color: $third-color;
      color: rgb(6, 102, 43);
      width: 80px;
      height: 25px;
      text-align: center;
      font-size: 1.2rem;
      border-radius: 10px 10px;
      
      
    }
    .name{
      height: 70px;
      background-color: ivory;
      border-radius: 0px 0px 20px 20px;
      display: flex;
      justify-content: space-around;
      .icon-heart{
        padding-top: 20px;
      }
    }
   
  }
  
}
footer{
  @include responsive(small){
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    background-color: black;
    color: blanchedalmond;
    .titre-footer{
      font-family: $font-family-logo-title;
    }
    .titre-footer::before{
         width: 0%;
    }
    a{
      text-decoration: none;
      color: blanchedalmond;
      font-family: $font-family-text;
      margin-bottom: 8px;
    }
  }
}
// Menu la palette du goût
.menu-header{
  @include responsive(small){
      a{
        text-decoration: none;
        color: black;   
      }
      h1{
        text-align: center;
        width: 80%;
      }
  }
  
}
.banner-palette{
  @include responsive(small){
  background-image: url(../img/palette.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 280px;
  }
}
.banner-note{
  @include responsive(small){
    background-image: url(../img/enchante.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 280px;
    }
}
.banner-bastille{
  @include responsive(small){
    background-image: url(../img/bastille.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 280px;
    }
}
.banner-papilles{
  @include responsive(small){
    background-image: url(../img/gourmand.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: 280px;
    }
}
.bouton-menu{
  @include bouton-menu;
  margin-top: 40px;
  margin: auto;
  
  
}
main{
  @include responsive(small){
    background-color: #DCDCDC;
    margin-top: -70px;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 10px;
    .titre{
      display: flex;
      justify-content: space-around;
      .icon-heart-titre{
        padding-top: 35px;
      }
    }
    h3{
      margin-left: 30px;
      position: relative;
    }
    h3::before{
      content: "";
      width: 40px;
      height: 3px;
      background-color: $third-color;
      position: absolute;
      margin-top: 20px;
    }
    li{
      display: flex;
      justify-content: space-around;
      border: 1px solid white;
      margin-top: 20px;
      background-color: white;
      border-radius: 10px 10px;
      margin-left: -10px;
      margin-right: 40px;
      
    }
    .recipe{
      width: 80%;
    }
    .price{
      padding-top: 20px;
    }
    
  }
  
}


  